/***** BASE STYLES *****/
@font-face {
    font-family: Wisdom;
    src: url('../font/wisdom-script.otf') format('opentype');
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #000000;
}

/***** GRID *****/
.full-width {
    width: 1200px;
    margin: 0 auto;
}
.half-width {
    width: 600px;
    float: left;
}
.third-width {
    width: 398px;
    height: 210px;
    float: left;
}

/***** HOME *****/
header h1 {
    font-size: 30px;
    line-height: 23px;
    text-transform: uppercase;
}
header h1 span {
    color: #77a466;
}

nav {
    float: right;
}

nav ul li {
    display: inline-block;
}

nav ul li a{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    line-height: 23px;
    padding-left: 20px;
    color: #77a466;
    font-weight: bold;
}

header img {
    border-top: 3px solid #77a466;
    border-bottom: 3px solid #77a466;
    margin-top: 24px;
}

#about {
    padding-bottom: 20px;
}
#about h2 {
    font-size: 18px;
    line-height: 23px;
    color: #77a466;
    text-transform: uppercase;
    font-weight: bold;
}

#about p {
    font-size: 16px;
    line-height: 25px;
}

#info #specials {
    border-top: 1px solid #dedbdc;
    border-right: 1px solid #dedbdc;
    border-bottom: 1px solid #dedbdc;
}
#info h4 {
    font-size: 12px;
    line-height: 25px;
    text-transform: uppercase;
}

#info ul li {
    list-style-type: none;
    margin-left: -40px;
    font-size: 16px;
    line-height: 36px;
    color: #77a466;
}

#info #reviews {
    width: 344px;
    border-top: 1px solid #dedbdc;
    border-bottom: 1px solid #dedbdc;
    font-size: 16px;
    line-height: 21px;
    padding: 0px 28px 0px 28px;
}

#info #contact {
    width: 372px;
    border-top: 1px solid #dedbdc;
    border-left: 1px solid #dedbdc;
    border-bottom: 1px solid #dedbdc;
    font-size: 16px;
    line-height: 24px;
    padding-left: 28px;
}

footer h3{
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
    clear: both;
    padding: 30px 0px 30px 0px;
}

footer h3 span {
    font-family: 'Wisdom';
    color: #77a466;
    text-transform: lowercase;
}
